@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


:root {
    --color-one: #1d1a39;
    --color-two: #451952;
    --color-three: #662549;
    --color-four: #ae445a;
    --color-five: #f39f5a;
    --color-six: #e8bcb9;
    --color-seven: rgba(252, 232, 197, 0.824);
}


.card {
    transition: transform 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    background-color: var(--color-seven);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-footer {
    color: white;
}

.bg-light {
    background-color: var(--color-six) !important;
}

.ver-todos .card-footer {
    background-color: var(--color-three); 
    color: white;
}
.ver-todos .ver-todos-3 {
    background-color: var(--color-three); 
    color: white;
}

.ver-todos .btn {
    background-color: var(--color-two);
    color: var(--color-five); 
    border: none;
}

.ver-todos .btn:hover {
    background-color: var(--color-six);
    color: white; 
}
.tarjeta .btn {
    background-color: var(--color-two);
    color: #e9e9e9; 
    border: none;
}

.tarjeta .btn:hover {
    background-color: var(--color-three);
    color: white; 
}


.ver-todos-promos .ver-todos-3 {
    background-color: var(--color-one);
    color: white;
}

.ver-todos-promos .btn {
    background-color: var(--color-five);
    color: var(--color-one); 
    border: none;
}

.ver-todos-promos .btn:hover {
    background-color: var(--color-six);
}
.tarjeta-promos .btn {
    background-color: var(--color-five);
    color: #ffffff; 
    border: none;
}

.tarjeta-promos .btn:hover {
    background-color: var(--color-four);
    color: white; 
}


@media (max-width: 768px) {
    .col-lg-3, .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 576px) {
    .col-lg-3, .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
