@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --color-one: #1d1a39;
    --color-two: #451952;
    --color-three: #662549;
    --color-four: #ae445a;
    --color-five: #f39f5a;
    --color-six: #e8bcb9;
    --color-seven: rgba(252, 232, 197, 0.824);
}

.carousel{
    padding: 3%;

}

.carousel-inner {
    box-shadow: 0 2px 16px rgba(88, 0, 0, 0.9); 
    border-radius: 10px; 
}

.carousel-item {
    padding: 3%;
    box-shadow: 0 2px 16px rgba(88, 0, 0, 0.9);
    background-color: var(--color-seven);
  
}
.carousel-item img {
    max-width: 80%; /* Ajusta el tamaño de la imagen si es necesario */
    height: auto;
}
.carousel-item .content {
    padding: 20px;
}
.carousel-item .content h5 {
    margin-top: 0;
}


.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: var(--color-four); /* Cambiar el color de fondo al pasar el mouse */
}