@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@400;700&family=Rubik:wght@400;700&display=swap');

:root {
    --color-one: #1d1a39;
    --color-two: #451952;
    --color-three: #662549;
    --color-four: #ae445a;
    --color-five: #f39f5a;
    --color-six: #e8bcb9;
    --color-seven: rgba(252, 232, 197, 0.824);  
}

.bg-dark {
    background-color: var(--color-one) !important;
}

.bg-light {
    background-color: var(--color-seven) !important;
}

.btn-custom {
    color: white;
    padding: 0.50rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}
.btn-custom:hover {
    background-color: var(--color-five);
}
.contact-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
}
.contact-info,
.contact-form {
    margin: 0;
}

.contact-info{ 
    flex: 1;
    max-width: 300px;
    padding: 1rem ;
    font-size: 16px;
}

.contact-form {
    flex: 2 ;
    padding: 1rem;
    width: 100%;
}

.contact-form form input,
.contact-form form textarea {
    background-color: var(--color-seven);
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid var(--color-three);
}

.mapa {
    width: 100%;
    height: 450px;
    margin-top: 0;
}
.ubicacion{
    margin-bottom: 180px;
    margin-top: 0;
    padding: 5%;
}
/* responsive */
@media (max-width: 80rem) {
    .contact-wrapper {
        flex-direction: column;
    }

    .contact-info {
        max-width: 100%;
        margin-bottom: 0; 
    }

    .contact-form {
        flex: 1; 
    }
    .contact-info,.contact-form {
        margin: 0;
    }
}

@media (max-width: 40rem) {
    .contact-form form input,
    .contact-form form textarea {
        font-size: 0.875rem; 
    }

    .contact-form form button {
        width: 100%;
        padding: 0.5rem; 
    }

    .mapa {
        height: 300px; 
    }
}