@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

:root{
    --color-one: #1d1a39;
    --color-two: #451952;
    --color-three: #662549;
    --color-four: #ae445a;
    --color-five: #f39f5a;
    --color-six: #e8bcb9;
}

.carousel-inner img {
    border-radius: 10px;
    margin-left: 2%;
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: 400px; /* Establece una altura fija */
    border-radius: 15px; /* Ajusta este valor para cambiar el radio del borde */

}

.carousel-item {
    overflow: hidden; /* Asegúrate de que el contenido no se desborde del contenedor */
    border-radius: 15px; /* Ajusta este valor para cambiar el radio del borde */
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    background-color: var(--color-four);   
}

.meta{
    margin-left: 1%;
}

.objetivo, .meta {
    
    font-family: "Montserrat", sans-serif;    
} 

.linea-divisoria {
    width: 100%;
    height: 2px; 
    background-color: var(--color-four);
    box-shadow: 0 2px 16px rgba(88, 0, 0, 0.9); 
}

.move {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center; /* Centra el texto */
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    position: relative;
    animation: move 5s infinite;
    text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff;
}
