:root{
    --color-one: #1d1a39;
    --color-two: #451952;
    --color-three: #662549;
    --color-four: #ae445a;
    --color-five: #f39f5a;
    --color-six: #e8bcb9;
}

body, html {
    color: var(--color-two);
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--color-six);
    max-width: 2000px; /* Ancho máximo */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

@keyframes move {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.551); 
}

.modal-content {
    background-color: white;
    color: var(--color-one);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, 
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}